#### Chargement des donnée

In [1]:
import numpy as np
import pandas as pd
from lib.db import read_mongodb_to_dataframe

In [2]:
properties = read_mongodb_to_dataframe('real_estate_db', 'properties', no_id=False)

##### Columns

In [3]:
for col in properties.columns:
    print(col)

_id

add_date
address
city
company
description
img_src
link
plex-revenue
price
type
update_at
vendue
revenu
surface
longitude
latitude
construction_year
municipal_taxes
school_taxes
unites
geolocation

##### Inspiration
- Can we predict housing prices based on this data?
- Which location contains the house with the highest prices?
- What ar the correlation between house prices and other attributes?
- What could be the trend behind housing prices?

#### Work plan 

1 - Clean Data 

2 - Building a Machine Learning Model / classification score Volume

##### Cleaning data

In [4]:
properties.head(1)

,_id,,add_date,address,city,company,description,img_src,link,plex-revenue,...,vendue,revenu,surface,longitude,latitude,construction_year,municipal_taxes,school_taxes,unites,geolocation
0,13363515,2152.0,2022-03-06 00:00:00,"{street=6926 - 6928, Avenue Somerled, localit...",Montréal,Centris,Duplex à vendre à Montréal (Côte-des-Neiges/No...,https://mspublic.centris.ca/media.ashx?id=ADDD...,https://www.centris.ca/fr/duplex~a-vendre~mont...,Rev. bruts pot. : 26 100 $,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_base = properties

#### manage missing value

In [26]:
# looking the shape DataSet
df_base.shape

NameError: name 'df_base' is not defined

In [27]:
#Checking the dtypes of all the columns
df_base.info()

NameError: name 'df_base' is not defined

* We need change Datatype column

In [28]:
df_base['add_date'] = pd.to_datetime(df_base['add_date'])
df_base['year'] = pd.to_numeric(df_base['add_date'])

NameError: name 'df_base' is not defined

In [29]:
df_base.info()

NameError: name 'df_base' is not defined

In [30]:
# missing value

df_base.isnull().sum()

NameError: name 'df_base' is not defined

* We have a lot of missing value

In [31]:
# check if any duplicate value

df_base.duplicated(subset=['id']).sum()

NameError: name 'df_base' is not defined

* We don't have duplicated

In [32]:
import sweetviz as sv
print("SweetViz Version : {}".format(sv.__version__))
report = sv.analyze(df_base, target_feat='price')

ModuleNotFoundError: No module named 'sweetviz'

In [33]:

# show the report in a form of an HTML file
report.show_html('Report.html')

NameError: name 'report' is not defined