In [1]:
from lib.db import read_mongo

In [2]:
## Recuperations des données à partir de la bd

df_properties = read_mongo('real_estate_db','properties',no_id=False)
df_properties_details = read_mongo('real_estate_db','properties_details',no_id=False)

In [3]:
df_properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           4345 non-null   object
 1   price         4345 non-null   int64
 2   type          4345 non-null   object
 3   address       4345 non-null   object
 4   description   4345 non-null   object
 5   img_src       4345 non-null   object
 6   link          4345 non-null   object
 7   plex-revenue  4331 non-null   object
 8   company       4345 non-null   object
 9   vendue        4345 non-null   bool
 10  update_at     4345 non-null   object
 11  geolocation   4329 non-null   object
 12  revenu        4329 non-null   float64
 13  add_date      4345 non-null   datetime64[ns]
 14  city          4345 non-null   object
 15  unites        4210 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 513.5+ KB

In [4]:
df_properties_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12145 entries, 0 to 12144
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    12145 non-null  object
 1   description            11341 non-null  object
 2   images                 12145 non-null  object
 3   geo                    12145 non-null  object
 4   annee                  6973 non-null   object
 5   superficie             6558 non-null   object
 6   parking                5720 non-null   object
 7   revenus_annuels_bruts  4310 non-null   object
 8   taxes                  11222 non-null  object
 9   unites                 4191 non-null   object
dtypes: object(10)
memory usage: 949.0+ KB

In [5]:
df_properties.head(1)

,_id,price,type,address,description,img_src,link,plex-revenue,company,vendue,update_at,geolocation,revenu,add_date,city,unites
0,19205127,410000,Duplex,"{'street': '1Z, Rue Bouchard', 'locality': 'Sa...","Duplex à vendre à Sainte-Brigitte-de-Laval, Ca...",https://mspublic.centris.ca/media.ashx?id=ADDD...,https://www.centris.ca/fr/duplex~a-vendre~sain...,Rev. bruts pot. : 24 600 $,Centris,True,[16/02/2023],"{'type': 'Point', 'coordinates': [-71.19806539...",24600.0,2023-02-16,Sainte-Brigitte-de-Laval,NaN

In [6]:
df_properties_details.head(1)

,_id,description,images,geo,annee,superficie,parking,revenus_annuels_bruts,taxes,unites
0,19205127,C'est ici que vos recherches s'arrêtent!!! Vot...,[https://mspublic.centris.ca/media.ashx?id=ADD...,"{'latitude': '46.9833982700', 'longitude': '-7...",2014,29 620 pc,Allée (2),24 600 $,"{'municipales': '3590', 'scolaires': '267'}",NaN

In [7]:
## Somme des duplicatats dans les propriétés

df_properties.duplicated(subset=['_id']).sum()

0

In [8]:
## Somme des duplicatats dans les détails de propriétés

df_properties_details.duplicated(subset=['_id']).sum()

0

In [9]:
df_properties['_id']

0       19205127
1       16846441
2       18535427
3       24303612
4       19680893
          ...
4340    20858282
4341     9565394
4342    17124668
4343    20306961
4344    18138221
Name: _id, Length: 4345, dtype: object

In [10]:
df_properties_details_with_summaries = df_properties_details[df_properties_details._id.isin(df_properties['_id'])]

In [11]:
len(df_properties_details_with_summaries)

4329

4345